<?Content?>
<div class="dog" id="<?$dog_id?>">
    <h1>
        <?$name?><br />
    </h1>
    <?$dog_id?><br />
    <?$breed?><br />
    <?$intakeDate?><br />
    <?$intakeSource?><br />
</div>
<div id="disqus_thread"></div>

<script type="text/javascript">

    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var dogs = document.getElementsByClassName('dog');
    var disqus_identifier = dogs[0].id;
    var disqus_shortname = 'lasthope-manager'; // required: replace example with your forum shortname

    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
<div id="atk-footer-guard"></div>
		</div>

<?/Content?>